<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thông tin Phòng</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/script/sidebar.js"></script>
</head>
<body>
     <div th:replace="~{fragments/sidebar :: nav}"></div>

    <div class="container">
        <h2 class=" mb-3">Phòng</h2>
        <div class="row mb-3 mt-3">
            <div class="col-md-12">
                <a href="/Phong/Them"class="btn btn-primary mr-2 mb-2">Thêm</a>
            
            </div>
        </div>
        
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Mã  phòng</th>
                    <th scope="col">Tên phòng</th>
                    <th scope="col">loại Phòng</th>
                    <th scope="col">Tình trạng</th>
                    <th scope="col">Chức năng</th>
                
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${phong}">
                    <td th:text="${p.maP}" />
                    <td th:text="${p.soP}" />
                    <td th:text="${p.malp.tenLP}" />
                    <td>
                        <span th:if="${p.tinhTrang}" class="bg-success text-white">Trống</span>
                        <span th:if="${not p.tinhTrang}"class="bg-danger text-white">đang dùng</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning mr-2 mb-2" data-toggle="modal" data-target="#editModal">Sửa</button>
                <button type="button" class="btn btn-danger mb-2" data-toggle="modal" data-target="#deleteModal">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


  
<div th:replace="~{fragments/footer :: footer}">Footer ở đây</div>
<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
