    <nav>
        <div id="mySidebar" class="sidebar">
            <a href="/Admin/Index" class="">Trang chủ</a>
            <a href="/Admin/Phong/Index">Phòng</a>
                <a href="/Admin/NhanVien/Index">Nhân viên</a>
            <a href="/Admin/DichVu/Index">Dịch vụ</a>
            <a href="/Admin/DatPhong/Index" class="">Đặt Phòng</a>
            <a href="/Admin/HoaDon/Index" class="">Hóa đơn</a>
            <div class="user-profile" onmouseover="showUserInfo()" onmouseleave="hideUserInfo()">
                <!-- <img src="/images/logo.jpg" alt="Avatar" class="avatar"> -->
                <img th:src="@{/Images/AnhNV/{anhNV}(anhNV=${NVlogin.anhNV})}" alt="Ảnh nhân viên" class="avatar" width="50" height="50">
                <span class="employee-name"th:text="${NVlogin.email}"></span>
                <div id="user-info" class="user-info">
                    <ul>
                        <li> <a href="#" th:href="@{'/Admin/Sua/'+${NVlogin.maNV}}"style="font-size: 14px;">Đổi mật khẩu </a></li>
                        <li><form id="logout-form" action="/logout" method="post">
                            <a href="/logout" style="font-size: 14px;">Đăng xuất</a>
                        </form></li>
                            
                    </ul>
                </div>
            </div>
        </div>
        <button class="openbtn" onclick="toggleNav()">☰</button>
        <div id="main"></div>
        <!-- Ô hiển thị hình ảnh và tên nhân viên -->
    
    </nav>
    