<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Thêm mới quán nước</title>
</head>
<body>
<div align="center">
    <h1>Thêm mới đồ uống</h1>
    <form action="#" th:action="@{/themMoiQN}" method="post" th:object="${qnDTO}">
        <label>Mã đồ uống:</label>
        <input type="text" th:field="*{maDoUong}" /><br/>
 
        <label>Tên đồ uống:</label>
        <input type="text" th:field="*{tenDoUong}" /><br/>
        
        <label>Số lượng:</label>
        <input type="text" th:field="*{soLuong}" /><br/>
        
        <label>Đơn giá:</label>
        <input type="text" th:field="*{donGia}" /><br/>
         <button type="submit">Thêm</button>    
    </form>
</div>
</body>
</html>

