<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Profile</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Your custom JavaScript -->
  <script src="/script/sidebar.js"></script>
  <style>
    /* Custom CSS styles */
    .profile-card {
      margin-bottom: 20px;
    }
    .profile-img {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
    }
  </style>
</head>
<body>
  <div th:replace="~{fragments/sidebar :: nav}"></div>
  <div class="container">
    <!-- Customer Profile Header -->
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <h1>Chào bạn đã quay trở lại,</h1>
        <h1 th:text="${NVlogin.ho} + ' ' + ${NVlogin.ten}"></h1>
        <p>Thông tin của bạn ở đây:</p>
      </div>
    </div>

    <!-- Customer Information -->
    <div class="row">
      <div class="col-md-4">
        <div class="profile-card card">
          <div class="card-body ">
            <h5 class="card-title">Thông tin cá nhân</h5>
            <ul class="list-group list-group-flush mt-3">
              <li class="list-group-item">Họ và tên: <span th:text="${NVlogin.ho} + ' ' + ${NVlogin.ten}"></span></li>
              <li class="list-group-item">Số điện thoại: <span th:text="${NVlogin.sdt}"></span></li>
              <li class="list-group-item">Email: <span th:text="${NVlogin.email}"></span></li>
              <li class="list-group-item">Giới tính: 
                <span th:if="${NVlogin.gioiTinh}">Nam</span>
                <span th:if="${not NVlogin.gioiTinh}">Nữ</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}">Footer ở đây</div>
  </div>

  <!-- Link to Bootstrap JS and jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
