<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thông tin Loại Phòng</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/script/sidebar.js"></script>
</head>

<body>
     <div th:replace="~{fragments/sidebar :: nav}"></div>
   
    <div class="container">
        <h2 class=" mb-3">Loại Phòng</h2>
        <div th:replace="~{fragments/search ::div}"></div>
        <div class="row mb-3 mt-3">
            <div class="col-md-12">
                <a href="/Admin/LoaiPhong/Them"class="btn btn-primary mr-2 mb-2">Thêm</a>
                <div th:if="${message}" class="alert alert-success text-center">[[${message}]]</div>
            </div>
        </div>
        
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Mã loại phòng</th>
                    <th scope="col">Tên loại phòng</th>
                    <th scope="col">Giá tiền</th>
                    <th scope="col">Sức chứa</th>
                    <th scope="col">Mô tả</th>
                      <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="lp : ${loaiPhong}">
                    <td th:text="${ lp.maLP}" ></td>
                    <td th:text="${lp.tenLP}" ></td>
                    <td th:text="${lp.giaTien}" ></td>
                    <td th:text="${lp.sucChua}" ></td>
                    <td th:text="${lp.moTa}"  ></td>
                    <td>
                        <a class="btn btn-warning mr-2 mb-2" th:href="@{'/Admin/LoaiPhong/Sua/'+${lp.maLP}}">Sửa</a> 
                        <a class="btn btn-danger mb-2" th:href="@{'/Admin/LoaiPhong/Xoa/' + ${lp.maLP}}" onclick="return confirm('Bạn chắc chắn muốn xóa chứ?')">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="~{fragments/Page :: nav}"></div>
  
  
<div th:replace="~{fragments/footer :: footer}">Footer ở đây</div>
<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
